$font_main: 'Montserrat', sans-serif;
$font_head: 'Kaushan Script', cursive;

$color_main: #333;
$color_font: #fff;
$color_hover: #fce38a;
$color_red__zone: #f38181;
$color_other__text: #999;
$color_stats: #95e1d3;
$color_border: #b5eae0;
$color_background: #e5e5e5;
$color_arrow: #ccc;
$color_section: #f8f8f8;   
$color_input_border: #e7e7e7;
$color_bcg_header: #eb8b8d;

$color_shadow: rgba(0, 0, 0, .2);